<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.krskoe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.krskoe.Admin.EditDosenActivity" />
        <activity android:name="com.example.krskoe.Mahasiswa.DataDiriMhsActivity" />
        <activity android:name="com.example.krskoe.Mahasiswa.RecyclerViewKelas" />
        <activity android:name="com.example.krskoe.Admin.CreateKrsActivity" />
        <activity android:name="com.example.krskoe.Admin.RecyclerViewDaftarKrs" />
        <activity android:name="com.example.krskoe.Admin.CreateMatkulActivity" />
        <activity android:name="com.example.krskoe.Admin.RecyclerViewDaftarMatkul" />
        <activity android:name="com.example.krskoe.Admin.CreateMhsActivity" />
        <activity android:name="com.example.krskoe.Admin.RecyclerViewDaftarMhs" />
        <activity android:name="com.example.krskoe.Admin.CreateDosenActivity" />
        <activity android:name="com.example.krskoe.Admin.RecyclerViewDaftarDosen" />
        <activity android:name="com.example.krskoe.Admin.HomeAdmin" />
        <activity android:name="com.example.krskoe.Mahasiswa.HomeDosen" />
        <activity android:name="com.example.krskoe.SplashScreen">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.krskoe.MainActivity" />
    </application>

</manifest>